//Fonts
$main_font: 'Montserrat', sans-seriff;

// Colours

$green: #4CB8B3;
$pink: #ff4d6a;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000;
$white: #FFF;

// MQ sizes

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;